/*  
	The main CSS file of portfolio.inceacraft.nl 
	you may use it when ever you feel like.
	but leave this below in your CSS file <3
		
		------------------------------
		|    © Bo-Eamonn de Snoo	|
		|    bo.eamonn@gmail.com	|
		------------------------------

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Everything in the body will be defined below */

body{
    margin: 0;
	padding: 0;
	background-color: #292c2f;
}
/* Everything in the header will be defined below */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

header > img {
    cursor: pointer;
    order: 3;
    margin-left: auto;
    height: 96px;
    width: 72;
}
/* Everything in the navigation will be defined below */

nav {
  order: 1;
  
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  order: 2;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(0, 59, 169);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
/* Everything in the main will be defined below */

main{
margin: auto;
padding: 15px 10px 5px 10px;
}

/* Everything in the footer will be defined below */

footer{
	bottom: 0;
	background-color: #24252a;
}
.footer-distributed{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* all the individual text and image settings/config are below */

h1 {
	font-size: 250%;
	color: white;
	-webkit-text-fill-color: white; 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-align: center;
	font-weight: bolder;
}
p{
	text-align: justify;
	font-style: oblique;
}



/* All the ID's are below */

#textHome{
	padding: 2% 15% 2% 15%;
	width: 100%;
	text-size-adjust: 50%;
	text-align: center;
	height: auto;
	color:  white;
	font-family: 'fantasy';
	font-size:16pt;
}
#meHome{
	float: left;
	padding: 2% 3% 2% 5%;
	width: 30%;

}
#photoBo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	pointer-events: none;
}
#xtraDesc{
	text-align: center !important;
	color: whitesmoke;
}

/* All the mobile settings/config are below */

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252ad0;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  #textHome{
	padding: 2% 15% 2% 15%;
	width: 100%;
	text-size-adjust: 50%;
	text-align: justify;
	height: auto;
	color:  white;
	font-family: 'fantasy';
	font-size:16pt;
    }
}
/* mobile footer */

@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		font: bold;
		line-height: normal;
        font-size: auto;
    }
}